.box {
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: pink;
    border: 1px, solid, black;
    margin: 5px;
}


.para {
    background-color: pink;
}

.newpara {
    color: red;
}